<div id="overlay" class="flex">
	<p ng-click="$root.showSignup = false" id="close"></p>
	<div id="form">
		<label>Enter your name</label>
		<input class="box" type="text" ng-model="$root.first_name" placeholder="Firstname" />
		<input class="box" type="text" ng-model="$root.last_name" placeholder="Lastname" />
		<label>Email</label>
		<input class="box" type="text" ng-model="$root.username" placeholder="your@email.com" />
		<label>Password</label>
		<input class="box" type="password" ng-model="$root.password" />
		<label>Address</label>
		<input class="box" type="text" ng-model="$root.address" />
		<a ng-click="$root.signup()" class="button green large">Sign up</a>
	</div>
</div>